$primary-color: #333333;
$primary-color-hover: #333333;
$secondary-color: #333333;
$primary-bg: #333333;
$secondary-bg: #333333;
$border-color: #333333;
$label-color: #333333;
$font-color: #333333;
$white-color: #333333;